.back{
	position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    min-width: 1000px;
    z-index:-10;
    zoom: 1;
    background-image: url(../images/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    /*opacity: 0.1;
    filter: alpha(opacity=10);*/
    z-index: 50;
}
.backstyle {
	background-color: rgba(0,0,0,0.7);
	width:100%;
	height:100%;
}

#op {
	opacity: 0.9;
	position: relative;
	z-index:100:
}

.fontstyle {
	color: black;
	font-weight: bold;
	font-family: "ו";
	font-size: 18px;
	font-style: italic;
	background-color:skyblue;
}

.main {
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 0px 0px;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 150%;
	color: #000000; /*#666666*/
	text-align: center;
	vertical-align: top;
}

#divcontent {
	width: 900px;
	background-color: #FCFDEF;
	border: 1px solid #EEEDDB;
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
}

#divfoot {
	width: 100%;
	clear: both;
	background-color: #efefef;
	margin-top: 15px;
}

.upline {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #B0BEC7;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px;
}

.textinput {
	margin-left: 10px;
	font-size: 12px;
	width: 150px;
	height: 18px;
	border: 1px solid #A4B5BD;
}